<div class="intro-section" id="home-section" style="display: block;">
  <div
    class="slide-1"
    style="background-image: url('assets/images/hero_1.jpg')"
    data-stellar-background-ratio="0.5"
  >
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
          <div class="row justify-content-center">
            <div
              class="col-lg-7 mb-5 text-center"
              data-aos="fade-up"
              data-aos-delay=""
            >
              <h2 class="section-title" style="color: aliceblue">
                Our Teachers
              </h2>
            </div>
          </div>

          <div class="row" style="margin-top: 50px">
            <div
              class="col-md-6 col-lg-4 mb-4"
              data-aos="fade-up"
              data-aos-delay="100"
              *ngFor="let elt of teachers"
            >
              <app-teacher [teacher]="elt"></app-teacher>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
