<!-- Add this CSS in your <head> section or your CSS file -->
  <style>
    .nav-item .nav-link.active {
      font-size: 20px;
      font-weight: bold;
      color: #833bc6; /* Example: white text */
      border-radius: 0.25rem; /* Example: rounded corners */
      border-bottom: 3px solid #833bc6; /* Line under the active link */

    }
    .nav-item .nav-link {
      font-size:20px;
      color: black;
      transition: background-color 0.3s, color 0.3s;
    }
    .nav-item .nav-link:hover {
      color: #6038bd; /* Example: change text color on hover */
    }
  </style>
  
  <!-- Navbar HTML -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="margin-left: 5%;font-weight: bolder;font-size: 30px;" routerLink="app-home">Private school</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-right: 5%;">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active mx-2">
          <a class="nav-link" routerLink="app-home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="app-all-courses" routerLinkActive="active">Courses</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" routerLink="app-teachers" routerLinkActive="active">Teachers</a>
        </li>
        <li class="nav-item active mx-2" *ngIf="isloggedIn()&&decodedToken.role=='admin'">
          <a class="nav-link"  routerLink="app-dashboard-admin" routerLinkActive="active">Admin</a>
        </li>
        
        <li class="nav-item dropdown mx-2" *ngIf="isloggedIn()&&decodedToken.role=='teacher'">
          <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Teacher 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="app-add-course-teacher" routerLinkActive="active">Add Course</a>
            <a class="dropdown-item" routerLink="app-teacher-dashboard" routerLinkActive="active">Dashboard</a>
          </div>
        </li>
        <li class="nav-item dropdown mx-2" *ngIf="isloggedIn()&&decodedToken.role=='student'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Student 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="app-dashboard-student" routerLinkActive="active">Dashboard</a>
          </div>
        </li>
        <li class="nav-item dropdown mx-2" *ngIf="isloggedIn()&&decodedToken.role=='parent'">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Parent 
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="app-dashboard-parent" routerLinkActive="active">Dashboard</a>
          </div>
        </li>
        <li *ngIf="!isloggedIn()" class="nav-item dropdown mx-2">
          <a class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Signup
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="app-signup-admin" routerLinkActive="active">SignUp Admin</a>
            <a class="dropdown-item" routerLink="app-signup-teacher" routerLinkActive="active">SignUp Teacher</a>
            <a class="dropdown-item" routerLink="app-signup-student" routerLinkActive="active">SignUp Student</a>
            <a class="dropdown-item" routerLink="app-signup-parent" routerLinkActive="active">SignUp Parent</a>
          </div>
        </li>
        <li class="nav-item mx-2" *ngIf="!isloggedIn()"><a class="nav-link" routerLink="app-login" routerLinkActive="active">Login</a></li>
        <li class="nav-item mx-2" *ngIf="isloggedIn()" (click)="logout()"><a class="nav-link" routerLink="app-home">LogOut</a></li>
      </ul>
    </div>
  </nav>
  


  