<table  style="text-align: center;color: bisque;"class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col"> Name</th>
        <th scope="col"> Periode</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody >
        <tr *ngFor="let elt of courses">
      <td>{{elt._id}}</td>
      <td>{{elt.coursename}}</td>
      <td>{{elt.coursePeriode}}</td>
      <td>
        <button class="btn btn-info mx-2" (click)="goToCourseInfo(elt._id)" >Display</button>
        <button class="btn btn-warning mx-2 " (click)="goToEditCourse(elt._id)">Edit</button>
        <button class="btn btn-danger mx-2 " >Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
