<div class="site-section courses-title" id="courses-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-lg-7 text-center" data-aos="fade-up" data-aos-delay="">
        <h2 class="section-title">Courses</h2>
      </div>
    </div>
  </div>
</div>

<div
  class="site-section courses-entry-wrap"
  data-aos="fade-up"
  data-aos-delay="100"
  style="display: block;"
>
  <div class="container" style="display: block">
    <div class="row" style="background-color:transparent;overflow: hidden;width:978px;position:relative;left:100px;height: 400px;border-radius: 10px;">
      <app-carouusel></app-carouusel>
    </div>
  </div>
</div>
